<?xml version="1.0" encoding="utf-8"?>
<packages>
<!-- Basics -->
    <package id="notepadplusplus" />
    <package id="7zip" />
    <package id="logioptionsplus" />
    <package id="1password" />

<!-- Tools -->
    <package id="hwinfo" />
    <package id="powertoys" />

<!-- Comm -->
    <package id="discord" />
    <package id="signal" />
    <package id="whatsapp" />
    <package id="skype" />

<!-- Game Launcher -->
    <package id="epicgameslauncher" />
    <package id="origin" />
    <package id="ubisoft-connect" />
    <package id="goggalaxy" />
    <package id="steam" />
    <package id="ea-app" />
    <package id="minecraft-launcher" />
</packages>
